html  {
    background: red;
}
body  {
    background: gray;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    background: #0c2461;
    height: 100%;
    display: flex;
    justify-content: center; /* centrare da sinistra -> verticale*/
    align-items: center;     /* centra dall'alto -> orizzontale */
}

.container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card {
    border: 1px solid white;
    height: 30rem;
    width: 20rem;
    position: relative;
    
}

.progress-bar {
    width: 100%;
    margin: 10px 0;

}

.card-footer {
    background: #dfe6e9;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}
